.card {
  margin-bottom: 20px;
  /* max-height: 350px; */
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
.organic-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffd700; /* Yellow */
  color: #006400; /* Dark Green */
  padding: 5px 10px;
  border-radius: 5px;
}
.card-img-top {
  width: 95%;
  max-height: 300px;
  /* height: auto; */
  object-fit: cover;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
}
.card-body {
  padding: 20px;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  
}
.card-text {
  font-size: 1.1rem;
  margin-bottom: 5px;
  
}
/* }
.mt-5{
  background-image: url(https://i.pinimg.com/736x/a0/51/2a/a0512a1d6a17714735ad2613ff8c9128.jpg);
  height: 500px;
  /* overflow: hidden; */
  /* background-size: cover; */
  /* display: flex; */
/* }  */

.active img{
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: flex;
  }