.card {
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  .organic-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffd700; /* Yellow */
    color: #006400; /* Dark Green */
    padding: 5px 10px;
    border-radius: 5px;
  }
  .card-img-top {
    width: 95%;
    max-height: 300px;
    /* height: auto; */
    object-fit: cover;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .card-text {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .active img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: flex;
    }
    .box {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    .image-box {
        position: relative;
        overflow: hidden;
    }
    .image-box img {
        width: 100%;
        height: auto;
    }
    .text-box {
        padding: 15px;
    }
    .btn-primary {
        margin-top: 20px;
    }
    .container {
      justify-content: center;
      align-items: center;
      height: 100vh;
    }