.card-img {
    height: 200px; /* Adjust the height as needed */
    width: 200px; /* Make the image square */
    object-fit: cover;
}
.full-width-card {
    max-width: 100%;
}
.card-body{
  font-size: 20px;
  
}
/* .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffd700;
  color: #006400;
  padding: 5px 10px;
  border-radius: 5px;
} */
